* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
  font-family: open sans;
}

.form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), 5px 5px 20px rgba(0, 0, 0, 0.4),
    -5px -5px 10px rgba(0, 0, 0, 0.4), -5px -5px 20px rgba(0, 0, 0, 0.4);
  z-index: 3;
  background: #fa7c30;
}

.form1.active {
  display: block;
}

.form2.active {
  display: block;
}

.contactForm.active {
  display: block;
}

.form div {
  display: flex;
  flex-direction: column;
}

.username,
.pass {
  position: relative;
}

label {
  font-size: 30px;
  font-family: fantasy;
  color: #fff;
}

.form .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.form input {
  padding: 5px 40px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  font-size: 20px;
}

.userInputs .fa {
  position: absolute;
  left: 20px;
  top: 75%;
  transform: translate(0, -50%);
}

input:focus ~ .fa {
  color: rgba(0, 0, 0, 0.4);
}

.form .btn {
  font-size: 22px;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  transition: 0.3s;
  width: 100%;
}

.form .btn:hover {
  background: #fff;
  color: #fa7c30;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.top i {
  font-size: 3em;
  color: #fa7c30;
}

button {
  padding: 10px 16px;
  background: #fa7c30;
  color: #fff;
  font-size: 0.87em;
  text-transform: uppercase;
  border: none;
  font-family: open sans;
  cursor: pointer;
}

.header {
  height: 50px;
  position: absolute;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
}

.logo {
  line-height: 50px;
}

.navbar,
.follow ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hamburger {
  display: none;
}

nav {
  height: 100%;
}

.navbar ul {
  display: flex;
  padding: 0 40px;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: open sans;
  font-size: 0.75em;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover,
.navbar ul li:hover button {
  color: #fa7c30;
  transition: all 0.3s ease-in-out;
}

.user {
  height: 100%;
  margin-right: 50px;
}

.user ul {
  padding: 0;
}

.user ul li:last-child {
  cursor: pointer;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

.user ul li:last-child:hover {
  color: #fa7c30;
  border: 2px solid #fa7c30;
}

.planbtn,
.userbtns {
  background: transparent;
}

.banner {
  background: url("/images/header.png") no-repeat center / cover;
  height: 950px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.banner .info {
  width: 75%;
  margin: 0 auto;
  z-index: 1;
}

.info h1 {
  font-size: 4.37em;
  width: 50%;
}

.banner h2 {
  padding: 20px 0;
  font-size: 0.87em;
}

.banner h1 span {
  color: #fa7c30;
}

.btn {
  margin-top: 70px;
}

.ordernow {
  position: absolute;
  bottom: -300px;
  z-index: 1;
  max-width: 1112px;
  width: 100%;
  height: 520px;
  background: #fff;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
}

.booking {
  padding: 20px 50px;
  text-align: center;
  width: 60%;
}

.booking .title {
  padding: 30px 0;
}

.booking .title h1 {
  font-size: 1.62em;
}

.booking .title h2 {
  font-size: 2.25em;
}

.booking .title h1,
.booking .title h2 {
  color: #000;
}

.inputs div {
  display: inline-block;
  position: relative;
  margin: 10px 15px;
  width: 150px;
  opacity: 0.7;
}

.inputs div i {
  font-size: 16px;
  opacity: 0.7;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.inputs select {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputs div input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  position: relative;
}

.inputs div input:nth-child(4) {
  margin-left: 0;
}

/**********
ABOUT
***********/
.about {
  position: relative;
  background: #f1f4f6;
}

.about .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1300px;
}

.about .info,
.about .img {
  width: 50%;
}

.info {
  padding-top: 100px;
}

.info h4 {
  color: #000;
  font-size: 2.25em;
}

.info h4 span {
  color: #fa7c30;
}

.info p {
  max-width: 400px;
  width: 100%;
  line-height: 30px;
}

.info p:last-child {
  opacity: 0.7;
}

.info .btn {
  margin-top: 30px;
  padding: 0;
}

.about .img {
  text-align: center;
  padding: 150px 0 0;
  position: relative;
  left: 20%;
  transform: translate(-20%);
}

.about .img img {
  max-width: 550px;
  max-height: 650px;
  width: 100%;
  height: 100%;
}

/***********
PROGRAMM
***********/
.programm {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-bottom: 50px;
}

.programm .title {
  width: 100%;
  text-align: left;
  padding: 80px 0 30px;
}

.programm .title h4 {
  color: #000;
  font-size: 2.25em;
}

.programm .title h4 span {
  color: #fa7c30;
}

.programm p {
  font-size: 0.9em;
  opacity: 0.8;
}

.programm .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.programm .cards .card {
  max-width: 350px;
  width: 100%;
  max-height: 644px;
  height: 100%;
  background: #f1f4f6;
}

.programm .cards .card .descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 40px;
  text-align: left;
}

.programm .cards .card .descr h1 {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.programm .cards .card .descr p {
  line-height: 25px;
  font-size: 1em;
}

.programm .cards .card .descr .btn {
  margin-top: 20px;
  padding: 0;
}

/***************
PERSONAL TRAINER
***************/
.personal-trainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 697px;
  background: url("/images/section-bg.png") no-repeat center center / cover;
}

.personal-trainer img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.personal-trainer h1 {
  font-size: 2.25em;
}

.personal-trainer h2 {
  font-size: 4.5em;
}

.personal-trainer .btn {
  margin-top: 20px;
}

/***************
TEAM
***************/
.team {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-bottom: 50px;
}

.team .title {
  width: 100%;
  text-align: left;
  padding: 80px 0 30px;
}

.team .title h4 {
  color: #000;
  font-size: 2.25em;
}

.team .title h4 span {
  color: #fa7c30;
}

.team p {
  font-size: 0.9em;
  opacity: 0.8;
}

.team .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.team .cards .card {
  max-width: 350px;
  width: 100%;
  border: none;
  height: 100%;
}

.team .cards .card .descr {
  padding: 30px;
  height: 100%;
}

.team .cards .card .descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.team .cards .card .descr h1 {
  color: #000;
  font-size: 1.4em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.team .cards .card .descr h2 {
  font-size: 0.8em;
  color: #fa7c30;
  text-transform: uppercase;
}

.team .cards .card .descr p {
  line-height: 25px;
}

/***********
MEDIA
***********/
.media {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 519px;
}

.media .left,
.media .right {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media .left {
  background: url("/images/freepass-bg.png") no-repeat center center / cover;
}

.media .right {
  background: url("/images/callus-bg.png") no-repeat center center / cover;
}

.media h1 {
  font-size: 1.12em;
}

.media h2 {
  font-size: 2.87em;
}

.media .btn {
  margin-top: 20px;
}

/***************
FOOTER
***************/
.footer {
  background: #161418;
  position: relative;
  padding-top: 50px;
}

.footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 50px;
}

.column .about {
  background: transparent;
}

.column .about p {
  color: #fff;
  padding: 35px 0;
  font-size: 0.9em;
}

.column .social .follow div {
  display: inline-block;
}

.column .social .follow h1 {
  font-size: 0.8em;
  text-transform: capitalize;
}

.column .social .follow ul {
  width: max-content;
  padding: 0;
}

.column .social .follow ul li {
  padding: 5px 10px;
  list-style: none;
}

.column .social .follow ul li a {
  text-decoration: none;
  color: #fff;
}

.column .social .follow ul li a:hover,
.column .social .follow ul li:nth-child(2) a i {
  color: #fa7c30;
  transition: all 0.3s ease-in-out;
}

.subscribe {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subscribe input {
  padding: 5px 10px;
  width: 100%;
}

.blog h1 {
  font-size: 1em;
}

.blog .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.blog .cards .card {
  max-width: 350px;
  width: 100%;
  border: none;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.blog .cards .card .descr {
  padding: 0;
  height: 100%;
}

.blog .cards .card .descr p {
  line-height: 20px;
  color: #fff;
  font-size: 0.7em;
  padding-left: 8px;
}

.instagram h1 {
  font-size: 1em;
  text-transform: uppercase;
}

.instagram .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: max-content;
  margin: 20px 0;
}

.instagram .gallery .img {
  width: 85px;
  height: 85px;
}

.instagram .gallery .img img {
  width: 100%;
  height: 100%;
}

.instagram a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fa7c30;
  text-align: center;
  padding: 40px 0;
}

.copyright a {
  color: #fa7c30;
  text-decoration: none;
}

/*RESPONSIVE*/
@media (max-width: 1199px) {
  .info h1 {
    width: 100%;
  }

  .programm .cards .card .descr {
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0;
    height: 100%;
  }

  .logo {
    margin-left: 130px;
  }

  .navbar {
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    font-size: 2em;
  }

  .navbar.open {
    transform: translateX(0);
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .navbar .user ul li:nth-child(3) {
    display: none;
  }

  nav,
  .user {
    width: 90%;
    height: max-content;
    text-align: center;
    margin: 0;
  }

  .hamburger {
    position: absolute;
    top: 10px;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .hamburger span,
  .hamburger span:before,
  .hamburger span:after {
    width: 30px;
    height: 3px;
    background-color: #fa7c30;
    transition: all 0.3s ease-in-out;
  }

  .hamburger span {
    position: relative;
  }

  .hamburger span:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
  }

  .hamburger span:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  .hamburger.open span {
    background: transparent;
  }

  .hamburger.open span:before {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger.open span:after {
    transform: rotate(45deg) translate(-6px, -5px);
  }

  .booking {
    padding: 20px;
  }

  .info h1 {
    font-size: 3em;
    width: 70%;
  }

  .info h2 {
    width: 60%;
  }

  .btn {
    margin-top: 50px;
  }

  .programm .title {
    text-align: center;
  }

  .programm .cards {
    flex-direction: column;
  }

  .programm .cards .card {
    margin: 10px 5px;
  }

  .programm .cards .card .descr {
    padding: 8px;
  }

  .programm .cards .card .descr p {
    font-size: 0.9em;
  }

  .personal-trainer {
    height: 346px;
  }

  .media {
    height: 258px;
    font-size: 0.8em;
  }

  .footer .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin: 10px auto;
  }

  .column1 {
    flex-direction: row;
  }

  .column .about {
    padding-right: 50px;
    padding-left: 0;
  }

  .subscribe {
    flex-direction: column;
  }

  .subscribe input {
    width: 100%;
  }

  .blog .cards {
    flex-direction: row;
    justify-content: space-around;
  }

  .blog .cards .card {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .ordernow .img {
    display: none;
  }

  .booking {
    width: 100%;
  }

  .about .container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .about .info {
    padding-top: 300px;
    width: 100%;
    text-align: center;
  }

  .about .info p {
    max-width: initial;
  }

  .about .img {
    width: 70%;
    padding-top: 50px;
  }

  .personal-trainer h1 {
    font-size: 1.1em;
  }

  .personal-trainer h2 {
    font-size: 2.25em;
  }

  .team .cards .card {
    margin: 0 5px;
  }

  .team .cards .card .descr {
    padding: 30px 10px;
  }
}

@media (max-width: 576px) {
  .navbar {
    font-size: 1.5em;
  }
  .navbar nav {
    width: 100%;
  }

  .navbar ul {
    padding: 0;
    align-items: center;
  }

  .banner .info h1,
  .banner .info h2 {
    width: 100%;
  }

  .banner .info h1 {
    font-size: 1.8em;
  }

  .banner .info h2 {
    font-size: 0.8em;
  }

  .booking {
    padding: 0;
  }

  .booking .inputs div {
    margin: 10px;
  }

  .team .cards {
    flex-direction: column;
  }

  .media {
    font-size: 0.6em;
    flex-direction: column;
    height: 519px;
  }

  .media .left,
  .media .right {
    width: 100%;
  }

  .media .left h2,
  .media .right h2 {
    font-size: 1.8em;
  }

  .media .btn {
    margin: 0;
  }

  .media .btn button {
    font-size: 0.7em;
    padding: 8px 16px;
  }

  .column1 {
    flex-direction: column;
  }

  .blog .cards {
    flex-direction: column;
  }
}
